<div class="g-recaptcha" data-sitekey="6Lc2hH8pAAAAAC0YCMf8LsPa0O662Dw-iR-wX615" data-callback="recaptchaOnVerify" data-size="normal"  data-theme="{{#if (eq_str metadata.theme "system") }}{{ else }}{{ metadata.theme }}{{/if}}" data-action="{{ captcha.action }}"></div>
