<title>{{ metadata.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="{{ metadata.site_name }}">
<script src="/assets/app/htmx/htmx.min.js"></script>

