<div class="header">
    <div class="container">
        <a href="/discover" hx-target-error="main" hx-target="main">Discover</a>
        <div class="dropdown">
            <button class="circle border" aria-label="Click to open dropdown of buttons for logout, profile, etc." aria-controls="user-dropdown" aria-expanded="false" data-opener>
                <img
                    src="{{#if user.display_image}}{{user.display_image}}{{else}}https://placehold.co/40x40{{/if}}"
                    alt="{{user.display_name}}'s avatar"
                    width="40"
                    height="40"
                    loading="eager"
                    decoding="sync"
                />
            </button>
            <div class="dropdown-wrapper" id="user-dropdown">
                <div class="dropdown-container">
                    <div class="user-dropdown">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>