<div class="header">
    <div class="container">
        <a hx-swap="innerHTML swap:50ms" href="/discover" hx-target-error="main"
            hx-target="main">COMMUNITY</a>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <details class="dropdown" id="create-dropdown-details">
                <summary aria-label="A menu dropdown for creating stuff">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </summary>
                <div class="dropdown-wrapper" id="create-stuff-dropdown">
                    <div>
                        <ul class="create-stuff-dropdown">
                            <li>
                                <a aria-controls="create-dropdown-details"
                                    onclick="closeDropdown(this)"
                                    href="/create/community" hx-target="main"
                                    hx-target-error="main">
                                    <span>Create a community</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="w-6 h-6">
                                        <path stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a aria-controls="create-dropdown-details"
                                    onclick="closeDropdown(this)"
                                    href="/create/post" hx-target="main"
                                    hx-target-error="main">
                                    <span>Create a post</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="w-6 h-6">
                                        <path stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </details>
            <details class="dropdown">
                <summary aria-label="A menu dropdown for notifications"
                    hx-get="/notifications/api/?isfirst=true"
                    hx-target="#notifications" hx-trigger="load once">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                    <div class="notifications-count notifier"
                        id="unread-notifications-count">
                    </div>
                </summary>
                <div class="dropdown-wrapper" id="create-stuff-dropdown">
                    <div>
                        <div id="main-notifications"
                            class="notifications-container">
                            <div class="notifications-header">
                                <div
                                    style="font-weight: 500;">Notifications</div>
                            </div>
                            <div class="notifications-content-wrapper">
                                <div id="notifications-loader">
                                    <div class="spinner"
                                        data-loading-class="spin"
                                        data-loading-path="/notifications/api/markasread?type=all"></div>
                                </div>
                                <div class="empty-notifications">
                                    You can relax for now.
                                    You have no notifications.
                                </div>
                                <ul class="notifications-content"
                                    id="notifications">
                                    <li
                                        style="display: flex; justify-content: center;">
                                        <span class="spinner"
                                            data-loading-class="spin"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="notifications-footer">
                                <div id="notifications-actions"
                                    class="notifications-actions">
                                    <button
                                        id="mark-all-notifications-as-read"
                                        hx-put="/notifications/api/mark-all-as-read"
                                        data-loading-disable
                                        data-loading-delay="250"
                                        hx-swap="none"
                                        hx-target-error="#nothing"
                                        hx-indicator="#notifications-loader">
                                        Mark all as read
                                    </button>
                                    <button
                                        id="delete-all-read-notifications"
                                        hx-delete="/notifications/api/delete-all-read"
                                        hx-swap="none"
                                        data-loading-disable
                                        data-loading-delay="250"
                                        hx-target-error="#nothing"
                                        hx-indicator="#notifications-loader">
                                        Delete all read notifications
                                    </button>
                                    <script>
                                        document.addEventListener("htmx:afterSwap", (evt) => {
                                            const target = evt.target;

                                            if (!(target instanceof HTMLButtonElement)) {
                                                return;
                                            }

                                            if (target.id != "delete-all-read-notifications") {
                                                return;
                                            }

                                            if (evt.detail.xhr.status != 204) {
                                                return;
                                            }

                                            document.querySelectorAll("[data-type=read-notification]").forEach((notif) => {
                                                notif.remove();
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="status">
                                    unsynced
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16" fill="currentColor"
                                        class="w-4 h-4">
                                        <path
                                            d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
            <details class="dropdown" id="user-dropdown-details">
                <summary style="padding: 0.25rem;"
                    aria-label="A menu dropdown relevant to the user.">
                    {{#if user.display_image}}
                    <img src="{{user.display_image}}"
                        alt="{{user.display_name}}'s avatar" width="32"
                        height="32"
                        style="border-radius: 50%;" />
                    {{else}}
                    <img src="https://placehold.co/36x36"
                        alt="{{user.display_name}}'s avatar" width="32"
                        height="32"
                        style="border-radius: 50%;" />
                    {{/if}}
                </summary>
                <div class="dropdown-wrapper" id="user-dropdown">
                    <div>
                        <ul class="user-dropdown">
                            <li>
                                <form hx-swap="innerHTML swap:250ms"
                                    hx-replace-url="/auth/login"
                                    hx-target="body"
                                    hx-target-error="#nothing"
                                    data-loading-path="/auth/api/login"
                                    data-loading-delay="100"
                                    hx-delete="/auth/api/logout"
                                    hx-trigger="submit"
                                    hx-sync="this, a">
                                    <button
                                        aria-controls="user-dropdown-details"
                                        onclick="closeDropdown(this)"
                                        data-loading-disable type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="w-6 h-6">
                                            <path stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                                        </svg>
                                        <span
                                            data-loading-class="hidden">Logout</span>
                                        <span data-loading-class-remove="hidden"
                                            class="hidden">
                                            Logging out...
                                        </span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>