<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head/main}}
        {{#> additional_head_content}}
        {{/additional_head_content}}
    </head>
    <body hx-boost="true" hx-ext="loading-states, response-targets, remove-me, head-support">
        {{#> header}}
            <header id="header"></header>
            <aside id="community-header"></aside>
        {{/header}}
        <main>
            {{> @partial-block}}
        </main>
        <ol id="toast-container" aria-label="Notifcations"></ol>
        <!-- Used when doing OOB in error responses -->
        <div id="nothing" hidden></div>
        {{#if (eq metadata.env "development")}}
        <div id="screen_size_indicator" style="position: fixed; bottom: 0; right: 0; z-index: 99999; color: white; background: black;"></div>
        <script>!function(){let e;function n(){document.getElementById("screen_size_indicator").innerText=`${window.innerWidth}px`}window.addEventListener("resize",()=>{clearTimeout(e),e=setTimeout(n,1e3)})}();</script>
        {{/if}}
    </body>
</html>