<noscript>
    <div class="noscript">
        <p>
        This website requires JavaScript to function properly. Please enable JavaScript in your web browser settings or white-list our domain <code>{{@site.url}}</code> if you use a plugin or extension that disables JavaScript.
        </p>
    </div>
</noscript>