<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head }}
		{{> partials/head/htmx-loading}}
		{{> partials/head/cropper}}
		{{> partials/head/only-form}}
		<link rel="stylesheet" href="/build/styles/creation-success.min.css">
	</head>
	<body hx-ext="loading-states, response-targets, remove-me">
		{{> partials/components/noscript}}
		{{> partials/main_header }}
		<main class="container">
			<div>
				<h1>Create your community</h1>
				<p>Creating a community is easy. Just fill out the form and you're good to go!</p>
			</div>
			<form hx-trigger="submit" hx-post="/create/community" id="create-community-form" hx-sync="#create-community-form:drop" data-loading-aria-busy hx-target-error="#nothing" hx-swap="outerHTML">
				<div class="input-group">
					<div class="label-container">
						<label for="community_name">Name</label>
						<div data-error id="community_name_error"></div>
					</div>
					<input aria-errormessage="community_name_error"  placeholder="The Best Community Evah" type="text" name="community_name" id="community_name"  maxlength="20" required>
				</div>
				<div class="input-group">
					<div class="label-container">
						<label for="description">Description</label>
						<div data-error id="community_description_error"></div>
					</div>
					<textarea aria-errormessage="community_description_error" placeholder="This community is the best!" type="text" name="description" minlength="20" maxlength="100" id="description" required></textarea>
				</div>
				<input type="text" name="honeypot" style="display: none;" aria-hidden="true">
				<button type="submit" data-loading-disable>
					<span data-loading-delay="500" data-loading-class="hidden">Create</span>
					<span data-loading-delay="500"  data-loading>Creating your community...</span>
				</button>
			</form>
		</main>
		{{> partials/footer }}
		{{> partials/nothing }}
		{{> partials/components/toast_container}}
	</body>
</html>