{{#if is_boosted}}
    <head>
        {{> partials/head/main}}
        {{> partials/auth/head}}
    </head>
    {{> partials/auth/register}}
{{else}}
    {{#> layouts/auth}}
        <div class="min-h-screen ce-wrapper">
            <div id="form-container" class="general-card container" style="--_max-content-width: 30rem;">
                {{> partials/auth/register}}
            </div>
        </div>
    {{/layouts/auth}}
{{/if}}
