.discover-grid {
    --_content-width: min(100%, 20rem);
    --_content-height: 23rem;
    @include s-mobile {
        --_content-width: min(100%, 22rem);
    }
    @include s-large {
        --_content-width: 100%;
    }
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: 1fr;

    @include s-mobile {
        grid-template-columns: 1fr 1fr;
    }

    @include s-large {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.discover-grid > * {
    position: relative;

    @include box(var(--_content-width), var(--_content-height));

    border-radius: $radius;
    border: 1px solid;

    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow: hidden;

    padding: 0;

    font-size: 1rem;
    font-weight: 400;

    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
}

.discover-cover-image {
    height: 20rem;
    width: 100%;
    position: relative;
}

.discover-cc {
    padding: 1rem;

    @include flex-column;

    gap: 1rem;
    height: 100%;
    width: 100%;
}

.discover-nc {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        font-weight: 500;
        font-size: 1.125rem;
    }
}

.discover-nc img {
    border-radius: calc($radius / 2);
}

.discover-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.discover-metadata {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.discover-grid > *:hover:not(.skeleton) {
    @include layered-shadow(hsl(0 0% 0% / 0.25), 1);
}
