.header {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;

    margin-bottom: 0.5rem;

    background-color: hsl(var(--lighter-background) / var(--_background, 1));
    border-bottom: 1px solid hsl(var(--border) / var(--_border-opacity, 1));
}

.header > * {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    a {
        padding: 0;
    }
}
