:root {
    --max-content-width: #{$max-content-width};
    --radius: #{$radius};
    --header-padding-block: 0.5rem;
    --animation-duration: 250ms;
    --main-space-block: 1rem;
}

@include themify($themes) {
    color-scheme: $theme_name;
    --primary: #{color_in_theme("primary")};
    --primary-foreground: #{color_in_theme("primary-foreground")};
    --secondary: #{color_in_theme("secondary")};
    --secondary-foreground: #{color_in_theme("secondary-foreground")};
    --accent: #{color_in_theme("accent")};
    --accent-foreground: #{color_in_theme("accent-foreground")};
    --destructive: #{color_in_theme("destructive")};
    --destructive-foreground: #{color_in_theme("destructive-foreground")};
    --background: #{color_in_theme("background")};
    --lighter-background: #{color_in_theme("lighter-background")};
    --text: #{color_in_theme("text")};
    --link: #{color_in_theme("link")};
    --input: #{color_in_theme("input")};
    --ring: #{color_in_theme("ring")};
    --skeleton: #{color_in_theme("skeleton")};
    --skeleton-shimmer: #{color_in_theme("skeleton-shimmer")};
    --border: #{color_in_theme("border")};
    --warning: #{color_in_theme("warning")};
    --warning-foreground: #{color_in_theme("warning-foreground")};
    --info: #{color_in_theme("info")};
    --info-foreground: #{color_in_theme("info-foreground")};
    --success: #{color_in_theme("success")};
    --success-foreground: #{color_in_theme("success-foreground")};
}

body {
    --_min-height: calc(
        100dvh - var(--main-space-block) * 2 - var(--header-padding-block) * 2
    );

    font-family: "Roboto", system-ui, sans-serif;

    min-height: var(--_min-height);

    color: hsl(var(--text) / var(--_text-opacity, 1));
    background-color: hsl(var(--background) / var(--_background-opacity, 1));
}

main {
    margin-block: var(--main-space-block);
}

.border {
    border: 1px solid hsl(var(--border) / var(--_border-opacity, 0.87));
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.error {
    color: red;
}

.background {
    @include cover_background;
}

#page-load-bar {
    position: fixed;
    top: 0;
    margin-inline: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.25rem;
    background-color: hsl(var(--accent));
    pointer-events: none;
    touch-action: none;
}

.fade-me-out.htmx-swapping,
.fade-me-in {
    transition: opacity var(--animation-duration, 250ms) ease-out;
}

.fade-me-in.htmx-added,
.fade-me-out.htmx-swapping {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
}
