.settings-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-block: 2rem;

    @include s-tablet {
        flex-direction: row;
    }
}

.settings-sidebar {
    width: 100%;

    @include s-tablet {
        width: 25%;
    }

    .settings-link.active {
        --_background-opacity: 0.075;

        &::before {
            position: absolute;

            content: "";

            height: calc(100% - 12px);
            width: 0.25rem;

            left: calc(0.5rem * -1);
            top: calc(50% - 12px);

            background-color: hsl(var(--accent));

            border-radius: 0.375rem;
        }

        &:hover {
            --_background-opacity: 0.175;
        }
    }

    .settings-link {
        position: relative;

        width: 100%;

        gap: 0.5rem;

        span {
            flex: 1;
        }
    }
}

.settings-content {
    width: 100%;

    @include s-tablet {
        width: 75%;
    }

    .form-rename {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: min(100%, 25rem);

        .input-group {
            flex: 1;
        }
    }
}

.subhead {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.danger-zone {
    ul {
        border: 1px solid hsl(var(--border) / var(--_border-opacity, 0.675));
        border-radius: var(--radius);

        li:not(:last-child) {
            border-bottom: 1px solid hsl(var(--border) / var(--_border-opacity, 0.675));
        }

        li {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            button,
            summary {
                flex-shrink: 0.5;

                @include s-mobilesmall {
                    flex-shrink: 0;
                    white-space: nowrap;
                }
            }
        }

        li > div {
            flex: auto;

            div {
                font-weight: 300;
            }
        }
    }
}
