#toast-container {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 98%;
    height: 98%;
    z-index: 999;
    pointer-events: none;
    touch-action: none;
    justify-content: flex-start;
    align-items: flex-end;

    .toaster {
        padding: 1rem;
        border: 1px solid;
        display: flex;
        gap: 1rem;
        align-items: center;
        width: min(100%, 25rem);
        backdrop-filter: blur(1rem);
        border-radius: $radius;
        border-color: hsl(var(--border) / var(--_border-opacity, 0.87));
        background-color: hsl(
            var(--background) / var(--_background-opacity, 0.87)
        );
        color: hsl(var(--text) / var(--_text-opacity, 1));
        @include layered-shadow(hsl(var(--text) / 0.075), 2);
    }

    .toaster[data-type="error"] {
        background-color: hsl(var(--destructive), 0.87);
        color: hsl(var(--destructive-foreground));
        @include layered-shadow(hsl(var(--destructive), 0.075), 2);
    }

    .toaster[data-type="warning"] {
        background-color: hsl(var(--warning), 0.87);
        color: hsl(var(--warning-foreground));
        @include layered-shadow(hsl(var(--warning), 0.075), 2);
    }

    .toaster[data-type="info"] {
        background-color: hsl(var(--info), 0.87);
        color: hsl(var(--info-foreground));
        @include layered-shadow(hsl(var(--warning), 0.075), 2);
    }

    .toaster[data-type="success"] {
        background-color: hsl(var(--success), 0.87);
        color: hsl(var(--success-foreground));
        @include layered-shadow(hsl(var(--success), 0.075), 2);
    }
}
