<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head}}
		<link rel="preload" href="/assets/styles/homepage.css" as="style">
		<link rel="stylesheet" href="/assets/styles/homepage.css">
	</head>
	<body>
		{{> partials/main_header}}
		<main>
			<section>
				<h1>Discover communities</h1>
				<p>or <a href="/create/community">create your own</a></p>
				<br>
				<input
					type="search"
					id="search"
					name="search"
					placeholder="Search for anything"
					hx-post="/search"
					hx-trigger="keyup changed delay:500ms, search"
					hx-target="#section-of-communities"
				>
			</section>
			<section>
				<h2>Communities</h2>
				<div id="section-of-communities" hx-indicator=".skeleton" hx-trigger="revealed" hx-get="/preview/community/" hx-swap="outerHTML">
					<div class="skeleton skeleton__rectangle-opposite"></div>
					<div class="skeleton skeleton__rectangle-opposite"></div>
					<div class="skeleton skeleton__rectangle-opposite"></div>
				</div>
			</section>
		</main>
		{{> partials/footer}}
	</body>
</html>