<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head}}
	</head>
	<body>
		{{> partials/main_header}}
		<button hx-get="/preview/community" hx-target="#list">
			Click me!
		</button>
		<ul id="list"></ul>
	</body>
</html>