<div class="creation-success">
    <i class="fa-sharp fa-regular fa-circle-check fa-2xl"></i>
    <p>Welcome aboard, chap. You are now registered.</p>
    <a class="big" href="/homepage">Join communities now!</a>
</div>