<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/components/noscript}}
        {{> partials/main_header }}
        <main class="container">
            <h1>404 - Not Found</h1>
            <p>The community you're looking for does not exist.</p>
        </main>
        {{> partials/footer }}
        {{> partials/components/toast_container}}
        {{> partials/nothing}}
    </body>
</html>