<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/components/noscript}}
        {{> partials/main_header }}
        <main class="container">
            <h1>500 - Internal Server Error</h1>
            <p>Oops! We encountered a server error. Please try again later.</p>
        </main>
        {{> partials/footer }}
        {{> partials/components/toast_container}}
        {{> partials/nothing}}
    </body>
</html>