{{#if (eq (len communities) 0)}}
    <div class="discover-grid" style="display: initial;" data-loading-states id="section-of-communities">
        0 community found.
    </div>
{{else}}
    <div class="discover-grid" data-loading-states id="section-of-communities">
        {{#each communities}}
            {{> partials/discover/preview_card community=this}}
        {{/each}}
    </div>
{{/if}}