<header class="main-header">
    <nav class="container">
        {{#if user}}
            <a class="big" href="/homepage" title="Community Homepage">Community</a>
            <div data-position="right" class="dropdown" style="height: 40px; width: 40px;">
                <button data-opener class="profile" aria-haspopup="true" aria-expanded="false" aria-controls="user-dropdown">
                    <img
                        role="presentation"
                        src="{{#if user.display_image}}{{user.display_image}}{{else}}https://placehold.co/40{{/if}}"
                        alt=" "
                        width="40"
                        height="40"
                    />
                </button>
                <div class="dropdown-content" id="user-dropdown">
                    <div class="dropdown-main">
                        <div class="header__dropdown">
                            <a href="/user/{{user.uid}}" title="My Profile">
                                <div style="margin-right: 0.25rem;">
                                    <i role="presentation" class="fa-regular fa-user fa-lg"></i>
                                </div>
                                <span>My profile</span>
                            </a>
                            <a href="/community" title="My Communities">
                                <i role="presentation" class="fa-solid fa-building-user fa-lg"></i>
                                <span>My communities</span>
                            </a>
                            <button type="button" hx-delete="/auth/logout" title="Logout">
                                <div style="margin-right: 0.25rem;">
                                    <i role="presentation" class="fa-solid fa-right-from-bracket fa-lg"></i>
                                </div>
                                <span>Logout</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <a class="big" href="/" title="Community Home">Community</a>
            <a class="btn-primary" href="/auth/login" title="Login">Sign in</a>
        {{/if}}
    </nav>
</header>