<div class="creation-success">
    <i class="fa-sharp fa-regular fa-circle-check fa-2xl"></i>
    <h2>Success!</h2>
    <p>Congratulations! Your community has been made.</p>
    <a class="big" rel="noreferrer noopener" href="/community?community_name={{community_name}}">Customize your community</a>
</div>