{{> partials/nothing}}
{{#if community_name_error}}
<div data-error id="community_name_error" hx-swap-oob="true">
    <small data-remove-me="5s">{{community_name_error}}</small>
</div>
{{/if}}
{{#if description_error}}
<div data-error id="community_description_error" hx-swap-oob="true">
    <small data-remove-me="5s">{{description_error}}</small>
</div>
{{/if}}
{{#if categories_error}}
<div data-error id="community_categories_error" hx-swap-oob="true">
    <small data-remove-me="5s">{{categories_error}}</small>
</div>
{{/if}}
{{#if toast}}
{{> partials/components/toast}}
{{/if}}