<input id="offset-input" hx-swap-oob="true" type="number" hidden readonly value="{{(add offset 1)}}" name="o" hx-swap="outerHTML">
<div id="offset-breadcrumbs" hx-swap-oob="true">
    {{> partials/components/community/breadcrumbs}}
</div>
{{> partials/components/community/community_list}}