<div class="flex-col" style="margin-bottom: 1.5rem;">
    <i class="fa fa-solid fa-check fa-2xl"></i>
    <p>Thank you, {{username}}. Your account has been created!</p>   
</div>
<a class="primary" href="/discover?isfromauth=true" hx-target="main" hx-target-error="#nothing">Let's go!</a>
