<div class="container">
    <section data-loading-aria-busy data-loading-delay="100" data-loading-states hx-swap="outerHTML" hx-trigger="revealed" hx-get="/community/api/{{community_id}}/about" id="about-section" hx-target-error="#about-section">
        <div class="hidden main-about" data-loading-class-remove="hidden">
            <div class="about-title" data-loading-class="skeleton fade skeleton-lgw skeleton-xlh"></div>
            <div style="--_delay: 250ms" class="cover-image" data-loading-class="skeleton fade skeleton-landscape"></div>
            <div class="about-metadata">
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
                <div style="--_delay: 500ms;" data-loading-class="skeleton fade skeleton-2xsw"></div>
            </div>
            <div class="about-description-container" style="display: flex; gap: 0.5rem; flex-direction: column;">
                <div style="--_delay: 750ms;" class="about-description" data-loading-class="skeleton fade skeleton-xlw"></div>
                <div style="--_delay: 1000ms;" class="about-description" data-loading-class="skeleton fade skeleton-lgw"></div>
                <div style="--_delay: 1250ms;" class="about-description" data-loading-class="skeleton fade skeleton-mdw"></div>
            </div>
        </div>
    </section>
</div>