<div class="container">
    <section data-loading-aria-busy data-loading-delay="100" data-loading-states hx-swap="outerHTML" hx-trigger="revealed" hx-get="/community/api/{{community_uid}}/about" id="about-section" hx-target-error="#about-section">
        <div class="hidden main-about" data-loading-class-remove="hidden">
            <div class="about-title" data-loading-class="skeleton fade"></div>
            <div style="--_delay: 150ms" class="cover-image" data-loading-class="skeleton fade"></div>
            <div class="about-metadata">
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 300ms;" data-loading-class="skeleton fade"></div>
            </div>
            <div class="about-description-container" style="display: flex; gap: 0.5rem; flex-direction: column;">
                <div style="--_delay: 450ms;" class="about-description" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 450ms;" class="about-description" data-loading-class="skeleton fade"></div>
                <div style="--_delay: 450ms;" class="about-description" data-loading-class="skeleton fade"></div>
            </div>
        </div>
    </section>
</div>