<div class="container">
    <section hx-swap="outerHTML" hx-trigger="revealed" hx-get="/community/api/{{community_uid}}/about" id="about-section" hx-target-error="#about-section">
        Loading...
    </section>
</div>