<aside class="container">
</aside>
<section class="container">
    <h1 class="sr-only">Discover Communities</h1>
    <div hx-target-error="#section-of-communities" data-loading-delay="100"  id="section-of-communities" class="community-grid" hx-swap="outerHTML" hx-trigger="revealed" hx-get="/discover/api?{{#if list_query}}{{#if list_query.search}}search={{list_query.search}}&{{/if}}{{#if list_query.category}}category={{list_query.category}}&{{/if}}{{#if list_query.offset}}offset={{list_query.offset}}{{/if}}{{/if}}">
        <div style="--_delay: 0ms" class="invisible" data-loading-class-remove="invisible" data-loading-class="skeleton fade"></div>
        <div style="--_delay: 250ms" class="invisible" data-loading-class-remove="invisible" data-loading-class="skeleton fade"></div>
        <div style="--_delay: 500ms" class="invisible" data-loading-class-remove="invisible" data-loading-class="skeleton fade"></div>
    </div>
</section>