/** === COLOR THEMES FOR DARK AND LIGHT MODE  ===  **/
$themes: (
    light: (
        text: hsl(10, 60%, 6%),
        background: hsl(9, 47%, 94%),
        harder-background: hsl(9, 47%, 98%),
        primary: hsl(5, 57%, 54%),
        primary-foreground: hsl(10, 60%, 4%),
        secondary: hsl(85, 57%, 72%),
        secondary-foreground: hsl(10, 60%, 4%),
        accent: hsl(112, 57%, 61%),
        accent-foregroubd: hsl(10, 60%, 4%),
        destructive: hsl(0, 85%, 60%),
        destructive-foreground: hsl(10, 60%, 4%),
        border: hsl(9, 47%, 20%),
        input: hsl(9, 47%, 20%),
        ring: hsl(112, 57%, 40%),
        link: hsl(220, 77%, 24%),
        warning: hsl(40, 57%, 54%),
        warning-forground: hsl(10, 60%, 4%),
        info: hsl(220, 57%, 54%),
        info-foreground: hsl(10, 60%, 4%),
        success: hsl(120, 57%, 54%),
        success-foreground: hsl(10, 60%, 4%),
        skeleton: hsl(300, 3%, 66%),
        skeleton-shimmer: hsl(300, 3%, 86%),
    ),
    dark: (
        text: hsl(10, 60%, 94%),
        background: hsl(9, 47%, 6%),
        harder-background: hsl(9, 47%, 2%),
        primary: hsl(5, 57%, 46%),
        secondary: hsl(85, 57%, 28%),
        accent: hsl(112, 57%, 39%),
        destructive: hsl(0, 62%, 40%),
        destructive-foreground: hsl(10, 61%, 10%),
        border: hsl(9, 47%, 20%),
        input: hsl(9, 47%, 80%),
        ring: hsl(112, 57%, 60%),
        link: hsl(220, 77%, 84%),
        warning: hsl(40, 57%, 46%),
        warning-foreground: hsl(10, 60%, 95%),
        info: hsl(220, 57%, 16%), 
        info-foreground: hsl(10, 60%, 95%),
        success: hsl(120, 57%, 16%),
        success-foreground: hsl(10, 60%, 95%),
        skeleton: hsl(300, 3%, 44%),
        skeleton-shimmer: hsl(300, 3%, 24%),
    ),
);
