<ul class="list-of-links" id="list-of-community-links" {{#if oobswap}}hx-swap-oob="true"{{/if}}>
    <li>
        <a class="active-indicator {{#if (eq current_page "community")}}active{{/if}}" id="community-link" {{#if (eq current_page "community")}}aria-current="page"{{/if}} hx-target="main" hx-target-error="main" href="/community/{{community_id}}">Home</a>
    </li>
    <li>
        <a class="active-indicator {{#if (eq current_page "members")}}active{{/if}}" id="members-link" {{#if (eq current_page "members")}}aria-current="page"{{/if}} hx-target="main" hx-target-error="main" href="/community/{{community_id}}/members">Members</a>
    </li>
    <li>
        <a class="active-indicator {{#if (eq current_page "about")}}active{{/if}}" id="about-link" {{#if (eq current_page "about")}}aria-current="page"{{/if}} hx-target="main" hx-target-error="main" href="/community/{{community_id}}/about">About</a>
    </li>
    <li>
        <a class="active-indicator {{#if (eq current_page "settings")}}active{{/if}}" id="settings-link" {{#if (eq current_page "settings")}}aria-current="page"{{/if}} hx-target="main" hx-target-error="main" href="/community/{{community_id}}/settings">Settings</a>
    </li>
</ul>