<div class="header">
    <div class="container">
        <a hx-swap="innerHTML swap:50ms" href="/discover" hx-target-error="main" hx-target="main">COMMUNITY</a>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <details style="display: flex; align-items: center;" class="dropdown">
                <summary class="circle" aria-label="A menu dropdown for creating stuff">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </summary>
                <div class="dropdown-wrapper" id="create-stuff-dropdown">
                    <div>
                        <ul class="create-stuff-dropdown">
                            <li>
                                <a href="/create/community" hx-target="main" hx-target-error="main">
                                    <span>Create a community</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/create/post" hx-target="main" hx-target-error="main">
                                    <span>Create a post</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </details>
            <details style="display: flex; align-items: center;" class="dropdown">
                <summary class="circle" aria-label="A menu dropdown relevant to the user.">
                    {{#if user.display_image}}
                    <img src="{{user.display_image}}" alt="{{user.display_name}}'s avatar" width="28" height="28"
                        style="border-radius: 50%;" />
                    {{else}}
                    <img src="https://placehold.co/36x36" alt="{{user.display_name}}'s avatar" width="28" height="28"
                        style="border-radius: 50%;" />
                    {{/if}}
                </summary>
                <div class="dropdown-wrapper" id="user-dropdown">
                    <div>
                        <ul class="user-dropdown">
                            <li>
                                <form hx-swap="innerHTML swap:250ms" hx-replace-url="/auth/login" hx-target="body"
                                    hx-target-error="#nothing" data-loading-path="/auth/api/login" data-loading-delay="100"
                                    hx-delete="/auth/api/logout" hx-trigger="submit" hx-sync="this, a">
                                    <button data-loading-disable type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                                        </svg>
                                        <span data-loading-class="hidden">Logout</span>
                                        <span data-loading-class-remove="hidden" class="hidden">
                                            Logging out...
                                        </span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>