<div class="header">
    <div class="container">
        <a href="/discover" hx-target-error="main" hx-target="main">Discover</a>
        <details class="dropdown">
            <summary aria-label="A menu dropdown relevant to the user.">
                <img
                    src="{{#if user.display_image}}{{user.display_image}}{{else}}https://placehold.co/40x40{{/if}}"
                    alt="{{user.display_name}}'s avatar"
                    width="40"
                    height="40"
                    loading="eager"
                    decoding="sync"
                    style="border-radius: 50%;"
                />
            </summary>
            <div class="dropdown-wrapper" id="user-dropdown">
                <div>
                    <ul class="user-dropdown">
                        <li>
                            <form hx-replace-url="/auth/login" hx-target="body" hx-target-error="#nothing" data-loading-path="/auth/api/login" data-loading-delay="100" hx-delete="/auth/api/logout" hx-trigger="submit" hx-sync="this, a">
                                <button data-loading-disable type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                                    </svg>

                                    <span data-loading-class="hidden">Logout</span>
                                    <span data-loading-class-remove="hidden" class="hidden">
                                        Logging out...
                                    </span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>