<div class="creation-success">
    <i class="fa-sharp fa-regular fa-circle-check fa-2xl"></i>
    <p>Congratulations! Your community has been made.</p>
    <a data-push class="big" rel="noreferrer noopener" href="/community/{{community_uid}}/about">Head to {{community_name}}</a>
</div>