<aside>
    <nav>
        <ul>
            <li>
                <a {{#if (eq aria_current "community")}}aria-current="page"{{/if}} rel="noreferrer noopener" href="/community/{{community.uid}}">Community</a>
                <a {{#if (eq aria_current "members")}}aria-current="page"{{/if}} rel="noreferrer noopener" href="/community/{{community.uid}}/members">Members</a>
                <a {{#if (eq aria_current "settings")}}aria-current="page"{{/if}} rel="noreferrer noopener" href="/community/{{community.uid}}/settings">Settings</a>
                <a {{#if (eq aria_current "about")}}aria-current="page"{{/if}} rel="noreferrer noopener" href="/community/{{community.uid}}/about">About</a>
            </li>
        </ul>
    </nav>
</aside>