<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head }}
	</head>
	<body>
		{{> partials/main_header }}
		{{> partials/footer }}
	</body>
</html>