<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head }}
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        <header>
            <h1>404 Not Found</h1>
        </header>
        <main>
            <p>Sorry, the server is experiencing some issues processing your request.</p>
        </main>
    </body>
</html>