<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head/main }}
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        <header>
            <h1>500 Internal Server Error</h1>
        </header>
        <main>
            <p>{{message}}</p>
        </main>
    </body>
</html>