<div class="container">
    <div class="dropdown">
        <button aria-label="Click to open dropdown of buttons for logout, profile, etc." aria-controls="user-dropdown" aria-expanded="false" class="icon" data-opener>
            <img
                src="{{#if user.display_image}}{{user.display_image}}{{else}}https://placehold.co/40x40{{/if}}"
                alt="{{user.display_name}}'s avatar"
                width="40"
                height="40"
                loading="eager"
                decoding="sync"
            />
        </button>
        <div class="dropdown-wrapper" id="user-dropdown">
            <div class="dropdown-container">
                <div class="user-dropdown">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>