<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head}}
		{{> partials/scripts/recaptcha}}
		{{> partials/head/htmx-loading}}
	</head>
	<body hx-ext="loading-states">
		{{> partials/main_header}}
		<form class="container" data-withcaptcha="true" id="register-form" hx-sync="#register-form:drop" hx-post="/auth/register" hx-trigger="submit" method="post" action="/auth/register">
			<div class="input-group">
				<label for="username">Username</label>
				<input autocomplete="off" autocapitalize="off" type="text" id="user" name="username" maxLength="60" placeholder="John Doe" required>
			</div>
			<div class="input-group">
				<label for="password">Password</label>
				<input autocomplete="off" autocapitalize="off" type="password" id="password" name="password.input" minLength="8" placeholder="********" required>
			</div>
			<div class="input-group">
				<label for="confirm_password">Password</label>
				<input autocomplete="off" autocapitalize="off"type="password" id="confirm_password" name="password.confirmation" minLength="8" placeholder="********" required>
			</div>
			<div class="input-group">
				<label for="gender">Gender</label>
				<select id="gender" name="gender" required>
					<option selected value="" disabled>Choose your gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="other">Other</option>
					<option value="notspecified">Rather not say</option>
				</select>
			</div>
			{{> partials/components/recaptcha}}
			<button type="submit">Register</button>
		</form>
	</body>
</html>
