@use "./mixins" as *;
@use "./variables" as *;

.input-group {
    display: flex;
    flex-direction: column-reverse;
    gap: calc($general-gap / 2);
}

.auth-form {
    @include flex-column;
    gap: $general-gap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.label-container {
    display: flex;
    gap: 0.25rem;
}

