@use "./mixins" as *;
@use "./variables" as *;

.auth-form {
    @include flex-column;
    gap: $general-gap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.label-container {
    display: flex;
    gap: 0.25rem;
}
