@layer base {
    :root {
        --background: 300 20% 99%;
        --foreground: 260 20% 3%;
        --card: 300 20% 99%;
        --card-foreground: 260 20% 3%;
        --popover: 300 20% 99%;
        --popover-foreground: 260 20% 3%;
        --primary: 250 17% 52%;
        --primary-foreground: 260 20% 3%;
        --secondary: 305 17% 73%;
        --secondary-foreground: 260 20% 3%;
        --muted: 300 20% 20%;
        --muted-foreground: 259 20% 70%;
        --accent: 322 17% 61%;
        --accent-foreground: 260 20% 3%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 260 20% 3%;
        --border: 300 20% 20%;
        --input: 300 20% 20%;
        --ring: 321 17% 40%;
        --radius: 0.5rem;
    }
    
    .dark {
        --background: 300 20% 1%;
        --foreground: 260 20% 97%;
        --card: 300 20% 1%;
        --card-foreground: 260 20% 97%;
        --popover: 300 20% 1%;
        --popover-foreground: 260 20% 97%;
        --primary: 250 17% 48%;
        --primary-foreground: 260 20% 97%;
        --secondary: 305 17% 27%;
        --secondary-foreground: 260 20% 97%;
        --muted: 300 20% 80%;
        --muted-foreground: 260 20% 97%;
        --accent: 322 17% 39%;
        --accent-foreground: 260 20% 97%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 262 22% 10%;
        --border: 300 20% 60%;
        --input: 300 20% 80%;
        --ring: 321 17% 60%;
    }
}

html:focus-within {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

body {
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
}

img {
    max-width: 100%;
    vertical-align: middle;
    font-style: italic;
    font-size: 80%;
    shape-margin: 2rem;
}

svg,
.icon {
    width: 1.25em;
    height: 1.25em;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent !important;
    position: relative;
    overflow: hidden;
}

.skeleton,
.card {
    width: 100%;
    height: 20rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0 0% 50% / 0.87);
    }
    100% {
        background-color: hsl(0 0% 50% / 0.25);
    }
}
