#toast-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    touch-action: none;
    width: 98%;
    height: 98%;
    z-index: 9999;
    contain: strict;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.25rem;
    font-size: 0.75rem;
}

#toast-container > * {
    width: min(100%, 25rem);
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border) / 0.75);
    box-shadow: 0 2px 4px hsl(var(--foreground) / 0.075);
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    pointer-events: all;
    touch-action: auto;
}

#toast-container > * > * {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#toast-container > *[data-type=error] {
    color: red;
}

#toast-container > *[data-type=success] {
    color: green;
}

#toast-container > *[data-type=warning] {
    color: yellow;
}

#toast-container > *[data-type=info] {
    color: blue;
}
