{{#if (or (eq pagination 0) (eq offset (sub pagination 1)))}}
<button disabled aria-label="Go to next list of communities">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
</button>
{{else}}
<button aria-label="Go to next list of communities"
    hx-get="/discover/api"
    hx-include="[name='offset'],[name='category'],[name='search']">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
</button>
{{/if}}