{{#if (eq (sub this.value 1) offset)}}
<button disabled class="square">{{value}}</button>
{{else}}
<button data-change-offset class="square" hx-get="/discover/api"
    hx-target="#section-of-communities"
    value="{{(sub value 1)}}"
    name="offset"
    hx-include="[name='category'],[name='search']">{{value}}</button>
{{/if}}